{% extends 'base.html' %}
{% block content %}
<div class="row">

  <div class="col-4">
    {% if user.image_url  %}
      <img style="max-width: inherit" src="{{user.image_url}}">
    {% endif %}
  </div>
  <div class="col-8">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    
    <!-- <h3>{{ user }}</h3>
    <h4>{{ user.posts }} </h4> -->
    <h2>Posts</h2>
    <ul>
      {% for post in user.posts %}
        <li>
          <a href="/posts/{{ post.id }}"><h5>{{ post.title }}</h5></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<a href="/users/{{ user.id }}/edit"><button class="btn btn-primary">Edit</button></a>
<form action="/users/{{ user.id }}/delete" method="post">
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
<a href="/users/{{ user.id }}/posts/new"><button class="btn btn-primary">New Post</button></a>
{% endblock %}